html {
  box-sizing: border-box;
  font family: 'Karma', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #6f00e7;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-color: #6f00e7;
}

.button {
  color: #6f00e7;
}
